*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid red; */
}
html,body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}
.nav-header{
    height: 70px;
    width: 100%;
    
}
.main-header{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;

    margin: 0px auto;
}
.center-nav ul{
    display: flex;
    gap: 20px;
}
.center-nav ul li{
    text-decoration: none;
    list-style-type: none;
}
.phone-nav  li{
    text-decoration: none;
    list-style-type: none;
}

.phone-nav {
    display: none;
}

.right-nav button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-left: 20px;
}
.right-nav{
    display: flex;
    align-items: center;
 
}
.icon-number{
    
    position: relative;
}
.shopping-number{
    position: absolute;
    background-color: rgb(237, 203, 160);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 15px;
}
.shopping-icon{
    font-size: 25px;
}
.menu-card{
    font-size: 25px;
    display: none;
    

}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
   
    background-color: rgb(255, 251, 8);

}
.main-item{
    display: flex;
    height: 100%;
    width: 90%;
    margin: auto;
    justify-content: space-between;

}
.second-main{
    width: 100%;
    height: calc(100% - 70px);
    
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-section img{
    width: 90%;
    height: 90%;
   
}
.hero-section h1{
    font-size: 4rem;
    margin-top: 5rem;
}
.hero-section h1 span{
    color: yellow;
}
.hero-section p{
    margin-top: 3rem;
    font-size: 20px;
}
.icon-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: start;
}
.social-icon{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: black;
    text-decoration: none;
}
.second-section{
    width: 100%;
    height: 100vh;
    
}

/* ...........second-div........... */

.second-div{
    width: 90%;
    height: 100vh;
    margin:  auto;
}
.text-heading{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text-heading h2{
    margin-bottom: 20px;
    margin-top: 60px;

}
.main-container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.img-div{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-div img{
    margin-top: 5px;
    height: 200px;
    width: 200px;
    border-radius: 7px;
    
}
.img-div p{
    text-align: center;
    font-size: 10x;
}


/* ..............Third-sectiom............. */

.third-section{
    width: 90%;
    height: 100%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    
  
}
.card-list{
    width: fit-content;
    height: 100%;
    margin-top: 20px !important;
    gap: 20px;
    display: grid;
   grid-template-columns: repeat(4, 1fr);
   
  
    
}

.card{
    height: 400px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    border-radius: 7px;
}
.card img{
    height: 200px;
    width: 200px;
}
.card button{
    padding: 12px 20px;
    background-color: yellow;
    border-radius: 7px;
    border: none;
}

/* ............Fourth-section............ */

.fourth-section{
    width: 90%;
    height: 100vh;
    margin:  auto;
    display: flex;
}
.fourth-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fourth-text h1{
 font-size: 3rem;
}


.fourth-right{
    width: 50%;
    height: 100%;
    padding-top:105px ;
  

}
.fourth-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img-text{
    display: flex;
}
.fourth-review img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    
}
.fourth-review{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    min-width: 100%;
    /* border: 2px solid red; */
    
   
}
.fourth-review p{
    padding-right: 150px;
}
.review-star{
    font-size: 13px;
    color: rgb(200, 171, 5);
}
.review-arrow{
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    margin: 10px 0px;

    
}
.img-text{
    display: flex;
    gap: 20px;
    
    align-items: center;
}
.name-star{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-arrow i{
width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgb(200, 171, 5) ;
    color: white;
}
.review-card{
    display: flex;
   /* overflow: hidden; */
    /* border: 2px solid gray; */
    
    
}


/* ..............Five-section........... */

.five-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.five-bg{
    width: 90%;
    height: 90vh;
    background-color: rgb(245, 245, 161);
    border-radius: 10px;
    display: flex;
    
    
    
}
.img-div-five{
    height: 450px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    
   

}
.img-div-five img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.five-text{
   
   width: fit-content;
   height: 60%;
   display: flex;
   flex-direction: column;
    gap: 20px;
    padding-right: 120px;
}
.five-text button{
    width: fit-content;
    padding: 15px 25px;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    background-color: rgb(253, 218, 16);
    
}
.five-text h1{
    font-size: 3rem;
}
.five-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.five-right{
    width: 50%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
   
}
































@media screen and (max-width: 700px) {
    
    .center-nav, .btn{
        display: none;
    }
    .menu-card{
        display: block;
        margin-left: 10px;
    }
    .phone-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translate(-50%);
        width: 20rem;
        padding: 5rem;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
       
    }
    
}